.cardLeft{
  height: auto;
  display: flex;

  margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.cardRight {
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.icon{
  width: 46px;
  height: 37px;
  margin: 0 0.8rem;
  border-radius: 5px;
}

.message_infoLeft{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  list-style: none;
}

.message_infoRight{
  display: flex;
  /* flex-direction: column; */
  list-style: none;
  flex-direction: row-reverse;
}

.time{
  color:#657d95;
  font-size: 0.6rem;
  margin: 0 0.5rem;
}

.name{
  color: #2e3039;
  font-size: 0.8rem;
  font-weight: 600;
}

.text{
  font-size: 1rem;
  height: auto;
  margin: 0.3rem 0;
}
.textRight {
  font-size: 1rem;
  height: auto;
  margin: 0.3rem 0;
  text-align:right;
}

.text_icon {
  display: flex;
  justify-content: flex-end;
  
}

.editedRight {
  font-size: 0.7rem;
  font-style: italic;
  color:#bac4c9;
  text-align: right;
}

.editedLeft {
  font-size: 0.7rem;
  font-style: italic;
  color:#bac4c9;
  /* text-align: right; */
}

.text_icon_span {
  font-size: 0.7rem;
  margin-right: 0.4rem;
  color: #bac4c9;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.text_image_span{

  width:0.5rem;
}
.message_wrapper{
  width: 75%;
}