html, body, .App, .app {
  min-height: 90vh;
  max-height: 90vh;
  /* height: none; */
  /* padding: .2rem; */
  margin: 0;
  /* background-color: #eee; */
}

.chatWrapper {
  display: flex;
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
 }

 .container {
  width: 90%;
  max-width: 700px;
  /* margin: 10px auto; */
}
.messages {
  height: 60vh;
  overflow-y: scroll;
  min-width: 100%;
}
.message__form {
  /* position: fixed !important; */
  /* bottom: 1em; */
  /* width: 90%; */
  /* max-width: 700px; */
  /* margin: 320px !important; */
  /* left: 0;
  right: 1em; */
  z-index: 200;
}
.message__self {
  border-left: 2px solid rgb(255, 165, 0);
  padding-left: .5rem;
}
.message__image {
  padding: 1rem;
}

.single-mes {
  margin: 1rem 0;
}

.userPanelContainer {
  width: 25%;
  margin-top: 15px;
}

.emoji {
  position: absolute;
  height: 254px;
  overflow: hidden;
  top: -141px;
  left: -205px;
  z-index: 111111;
  border-bottom: 1px solid rgb(226, 225, 225);
}